# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# exclude any entries of build in any nested dir
**/[Bb][Uu][Ii][Ll][Dd]/**
# build - either file or dir
# build/ - only dir, any nested dir e.g. a/build
# c/build - specifically this dir, not b/c/build
