<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>States</title>
  </head>
  <body>
    <header>
      <img src="/img/logo.jpg" alt="image">
    </header>
  	{{{body}}}
  </body>
</html>